fastapi==0.121.2
uvicorn==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.4
python-dotenv==1.2.1
pytest==9.0.1
pytest-cov==7.0.0
httpx==0.28.1
vlm-engine==0.4.19
livekit==1.0.19
# opencv-python==4.10.0.84
ImageHash==4.3.2
aiofiles==25.1.0
psutil==7.1.3